{% extends 'base.html' %}

{%block content%}
<div >
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_username">用户名</label>
            <input type="username" name='username'class="form-control" id="username" aria-describedby="emailHelp">
            <small id="emailHelp" class="form-text text-muted">手机号码为默认用户名.</small>
        </div>
        <div class="form-group">
            <label for="password">密码</label>
            <input type="password" name = 'password' class="form-control" id="password">
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">记住我</label>
        </div>
        <button type="submit" class="btn btn-primary">登录</button>
        <button type="reset" class="btn btn-primary">重置</button>
    </form>
</div>
<p1>{{hello}}</p1>
{%endblock content%}